/* Общие стили */
.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Стили для блока с видео */
  .video-block {
    width: 100%;
    max-width: 800px;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    border-radius: 8px;
    overflow: hidden;
  }
  
  .video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 70%;
    border-radius: 8px;
  }
  
  /* Стили для блока с описанием */
  .description-block {
    margin-top: 2rem;
    text-align: center;
    max-width: 600px;
    padding: 0 1rem;
  }
  
  .description-block h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .description-block p {
    font-size: 1rem;
    line-height: 1.6;
  }
  